body{
    background-image: url(https://i.pinimg.com/564x/1a/69/73/1a69730e5c7e206b7f2164c85b10ff98.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.titulo{
    border: 3px;
    text-align: center;
    background-color: rgb(69, 157, 235);
}
.cuadro{
    color: white;
}
.resultado{
    
}
